<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="description" content="Portfolio" />
      <meta name="author" content="Ruchi Patel" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/fa62c117c7.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="../css/style.css" />
      <link rel="script" type="text/javascript" href="../../script.js" />
      <title>Ruchi Patel</title> 
   </head>
  
  <body class="theme" id="top">
    <header class="header center">
      <h3>
        <a href="https://google.ca" class="link"></a>
      </h3>

      <nav>
        <ul>
             <li>
            <a class="active" href="#home">Home</a>
          </li>
          <li>
            <a href="#info">About</a>
          </li>
          <li>
            <a href="#education">Education</a>
          </li>
          <li>
            <a href="#skills">Skills</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>
        <label id="icon">
            <i class = "fas fa-bars"></i>
        </label>
      </nav>
    </header>
  </body>

      <main>
         <div id = "home" , class="mainPage center">
            <h1><span class="mainPage__name">Ruchi Patel</span></h1>
            <h2 class="mainPage__role">Website Designer</h2>
            <p class="mainPage__desc">
               As a young web designer looking to advance my abilities and acquire experience, 
               I'm keen to join exceptional teams. I have experience in a variety of fields, 
               such as website development and graphic design.
            </p>
            <div class="img">
                        <img src="https://res.cloudinary.com/dp7mrakws/image/upload/v1683576189/Photo_aduc04.jpg" alt="" />
                     </div>
            <div class="mainPage__contact center">
               <a href="https://res.cloudinary.com/dp7mrakws/image/upload/v1683576246/resume_maf6ox.pdf" target="_blank">
               <span class="btn btn--outline">Download My Resume</span>
               </a>
               <a class="link nav-switch" href="#socials">
               <span class="btn btn--outline">Contact me</span>
               </a>
            </div>
         </div>
         
         <div class="divider"></div>
         <section id="info" class="section info">
            <div>
               <h2 class="section__title">About me</h2>
               <section class="container">
                  <section>
                  </section>
                  <section>
                     <br><br>
                     <div>
                        <table>
                           <tbody>
                              <tr>
                                 <th >Name</th>
                                 <td>Ruchi Patel</td>
                              </tr>

                              <tr>
                                 <th>Course</th>
                                 <td>Web Programming Principles</td>
                              </tr>

               
                           </tbody>
                        </table>
                     </div>
                  </section>
               </section>
            </div>
         </section>
         <div class="divider"></div>
         <section class="section" id="education">
            <div>
               <h2 class="section__title">Education</h2>
               <section class="education_list">
                  <section class="education">
                     <h3>12th Graduate</h3>
                     <p>Hillwoods School</p>
                     <span>2021</span>
                  </section>
                  <section class="education">
                     <h3>10th grade</h3>
                     <p>Hillwoods School</p>
                     <span>2019</span>
                  </section>
                  <section class="education">
                     <h3>College</h3>
                     <p>Seneca College</p>
                     <span>Present</span>
                  </section>
               </section>
            </div>
         </section>
         <div class="divider"></div>
         <section id="skills">
  <h2 class="section__title">Skills</h2>
  <div class="row">
    <div class="col-md-6">
      <p>JavaScript</p>
      <div class="progress">
        <div
          class="progress-bar bg-teal"
          role="progressbar"
          style="width: 85%"
          aria-valuenow="85"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          85%
        </div>
      </div>
      <br>
      <p>C++</p>
      <div class="progress">
        <div
          class="progress-bar bg-teal"
          role="progressbar"
          style="width: 80%"
          aria-valuenow="80"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          80%
        </div>
      </div>
      <br>
    </div>
    <div class="col-md-6">
      <p>MySQL</p>
      <div class="progress">
        <div
          class="progress-bar bg-teal"
          role="progressbar"
          style="width: 75%"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          75%
        </div>
      </div>
      <br>
      <p>C</p>
      <div class="progress">
        <div
          class="progress-bar bg-teal"
          role="progressbar"
          style="width: 70%"
          aria-valuenow="70"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          70%
        </div>
      </div>
      <br>
      <p>Git</p>
      <div class="progress">
        <div
          class="progress-bar bg-teal"
          role="progressbar"
          style="width: 80%"
          aria-valuenow="80"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          80%
        </div>
      </div>
      <br>
    </div>
  </div>
</section>

         <div class="divider"></div>
         <section class="section contact" id="contact">
            <div>
               <h2 class="section__title">Contact</h2>
               <form id="form">
                  <div>
                     <label for="name">Name</label>
                     <input value="" name="name" id="name" />
                  </div>
                  <div>
                     <label for="gender">Gender</label>
                     <input value="" name="gender" list="gender" id="gender "/>
                     <datalist id="gender">
                        <option value="Female">
                        <option value="Male">
                        <option value="Others">
                     </datalist>
                  </div>
                  <div>
                     <label for="email">Email</label>
                     <input value="" name="email" id="email" type="email" />
                  </div>
                  <div>
                     <label for="add">Address</label>
                     <input value="" name="add" id="add" />
                  </div>
                  <div>
                  <label for="postal">Postal Code</label>
                  <input
                     value=""
                     name="postal"
                     id="postal"
                     pattern="^[ABCEGHJ-NPRSTVXYabceghj-nprstvxy]\d[ABCEGHJ-NPRSTV-Zabceghj-nprstv-z][ -]?\d[ABCEGHJ-NPRSTV-Zabceghj-nprstv-z]\d$"
                     />
                  </div>
                  <div>
                     <label for="city">City</label>
                     <input value="" name="city" list="cities" id="city" />
                     <datalist id="cities">
                        <option value="Toronto">
                        <option value="Scarborugh">
                        <option value="Oshawa" >
                        <option value="Montreal">
                        <option value="Calgary">
                     </datalist>
                    </div>
                  <div>
                  <label for="about">What is this about?</label>
                  <fieldset name="about" id="about">
                  <span>
                  <input
                     id="question"
                     type="radio"
                     value="Question"
                     name="about"
                     />
                  <label for="question">Question</label>
                  </span>
                  <span>
                  <input
                     id="comment"
                     type="radio"
                     value="Comment"
                     name="about"
                     />
                  <label for="comment">Comment</label>
                  </span>
                  <span>
                  <input id="hiring" type="radio" value="Hiring" name="about" />
                  <label for="hiring">Hiring</label>
                  </span>
                  </fieldset>
                  </div>
                  <div style="display: none" id="rate">
                  <label for="rate">Hourly Rate</label>
                  <input type="number" min="0" step="0.25" name="rate" id="rate" />
                  </div>
                  <div>
                  <label for="text">Message</label>
                  <textarea name="message" id="text" rows="5"></textarea>
                  </div>
                  <button type="submit" class="btn btn--outline">Submit</button>
               </form>
            </div>
         </section>
      </main>
      <footer class="container-fluid bg-teal text-center mt-5" id="socials">
  <p>Find me on social media.</p>
  <div class="d-flex justify-content-center">
    <a href="https://github.com/ruchipate" aria-label="github" class="text-white mx-3"><i class="fab fa-github fa-2x"></i></a>
    <a href="https://www.facebook.com/profile.php?id=100076656887937" aria-label="facebook" class="text-white mx-3"><i class="fab fa-facebook fa-2x"></i></a>
    <a href="https://www.instagram.com/ruchi__922/" aria-label="instagram" class="text-white mx-3"><i class="fab fa-instagram fa-2x"></i></a>
  </div>
</footer>


    
      <script src="../../script.js"></script>
   </body>
   </html>
